.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 120px;
    z-index: 110;
}

.header .header-logo {
    padding: 24px;
    max-height: 120px;
    margin-left: 52px;
    margin-right: 52px;
    vertical-align: middle;
}

.header .nav-links, .header .social {
    display: inline;
}

.header .nav-links li {
    font-weight: 700;
    display: inline;
    font-size: 1.5rem;
    cursor: pointer;
}

.header .nav-links li a {
    padding: 32px 32px 32px 0px;
    text-decoration: none;
}

.header .nav-links li:hover {
    text-decoration: underline;
}

.header .social {
    margin: 30px 150px 30px 0;
}

.header .social li {
    display: inline;
    cursor: pointer;
    opacity: 0.7;
}

.header .social li:hover {
    opacity: 1;
}

.header .social li img {
    height: 60px;
    vertical-align: middle;
    margin: 0 10px 0 10px;
}

.header i {
    display: none;
}

/* Mac Pro 13in */
@media only screen and (min-width: 1400px) and (min-resolution: 96dpi) {

    .header .nav-links li {
        font-size: 1.4em;
    }

}

@media only screen and (max-width: 1400px) {

.header {
    max-height: 80px;
}

.header .header-logo {
    padding: 16px;
    max-height: 80px;
}

.header .nav-links li {
    font-size: 1rem;
}

.header .nav-links a {
    padding: 32px 16px 32px 0px;
}

.header .social {
    margin: 20px 152px 20px 0;
}

.header .social li img {
    height: 40px;
}

}

@media only screen and (max-width: 700px) {

body {
    margin-top: 80px !important;
}

.header {
    overflow: hidden;
    -webkit-transition: max-height 700ms ease-out; /* Safari */
            transition: max-height 700ms ease-out;
}

.header .header-logo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header i {
    display: inline;
    position: absolute;
    top: 40px;
    padding: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.header .nav-links {
    margin-top: 80px;
    display: block;
}

.header .nav-links li a {
    display: block;
    padding: 8px 16px 8px 16px;
    background-color: #002D54;
}

.header .social {
    display: none;
}

.header .nav-links li {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

}