<div class="header iblue poppins">
  <i class="material-icons iwhite-text">menu</i>
  <a href="/"><img class="header-logo" src="assets/images/inci_logo.png"/></a>
  <ul class="nav-links">
    <li><a href="/" class="home iwhite-text">HOME</a></li>
    <li><a href="events" class="events iwhite-text">EVENTS</a></li>
    <li><a href="sponsors" class="sponsors iwhite-text">SPONSORS</a></li>
    <li><a href="icare" class="icare iwhite-text">iCARE</a></li>
    <li><a href="about" class="about iwhite-text">ABOUT</a></li>
    <li><a href="contact-us" class="contact-us iwhite-text">CONTACT US</a></li>
  </ul>
  <ul class="social right">
    <li><a href="{{ social.fb.link }}" target="_blank"><img src="{{ social.fb.image }}"/></a></li>
    <li><a href="{{ social.tw.link }}" target="_blank"><img src="{{ social.tw.image }}"/></a></li>
    <li><a href="{{ social.yt.link }}" target="_blank"><img src="{{ social.yt.image }}"/></a></li>
    <li><a href="{{ social.ig.link }}" target="_blank"><img src="{{ social.ig.image }}"/></a></li>
  </ul>
</div>
