.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 120px;
    z-index: 100;
}

.header img {
    padding: 24px;
    max-height: 120px;
    margin-left: 52px;
    margin-right: 52px;
    vertical-align: middle;
}

.header ul {
    display: inline;
}

.header ul li {
    font-weight: 700;
    display: inline;
    padding: 32px 50px 32px 0px;
    font-size: 1.5rem;
    cursor: pointer;
}

.header ul li a {
    text-decoration: none;
}

.header ul li:hover {
    text-decoration: underline;
}

.header i {
    display: none;
}

@media only screen and (max-width: 1400px) {

.header {
    max-height: 80px;
}

.header img {
    padding: 16px;
    max-height: 80px;
}

.header ul li {
    padding: 32px 40px 32px 0px;
    font-size: 1rem;
}

}

@media only screen and (max-width: 700px) {

body {
    margin-top: 80px !important;
}

.header {
    overflow: hidden;
    -webkit-transition: max-height 700ms ease-out; /* Safari */
            transition: max-height 700ms ease-out;
}

.header img {
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header i {
    display: inline;
    position: absolute;
    top: 40px;
    padding: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.header ul {
    margin-top: 80px;
    display: block;
}

.header ul li {
    display: block;
    padding: 16px;
    background-color: #FFD039;
}

}