<div class="footer iblue">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="left-content mcontainer poppins">
        <ul class="nav-links">
          <b>
            <br />
            <li><a href="events" class="iwhite-text">EVENTS</a></li>
            <li><a href="#!" class="iwhite-text">SPONSORS</a></li>
            <li><a href="icare" class="iwhite-text">iCARE</a></li>
            <li><a href="about" class="iwhite-text">ABOUT</a></li>
            <li><a href="#!" class="iwhite-text">CONTACT US</a></li>
          </b>
        </ul>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <b>
        <br />
        <div class="mcontainer">
          <div class="incident iwhite-text">INCIDENT</div>
          <div class="right-content iwhite-text">
            NITK SURATHKAL - MARCH 2019<br />
            NH 66, Srinivas Nagar,<br />
            Surathkal,<br />
            Mangaluru,<br />
            Karnataka 575025
          </div>
        </div>
      </b>
    </div>
  </div>
</div>
