.footer {
   
   
    width: 100%;
    height: 318px;
    background-color:#002D54
    
}
.left_content{
    padding: 65px 0px 80px 158px;
    font-size: 24px;
    color: #FFFFF8;
    width: 357px;

}

.incident{
    font-size: 60px;
    padding: 51px 157px 75px 0PX;
    text-align: right;
    color: #FFFFF8;


}
