.footer {
  width: 100%;
  padding-bottom: 16px;
}
.left-content {
  font-size: 1.5em;
  width: 357px;
}
.incident {
  font-size: 3.75em;
  text-align: right;
}
.right-content {
  font-size: 1.125em;
  text-align: right;
}

.footer i {
  display: none;
}

.footer .nav-links li {
  cursor: pointer;
}

.footer .nav-links li a {
  text-decoration: none;
}

.footer .nav-links li:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 1400px) {
  .footer {
    width: 100%;
    padding-bottom: 16px;
  }
  .left-content {
    font-size: 1.25em;
  }
  .incident {
    font-size: 2.5em;
    text-align: right;
  }
  .right-content {
    font-size: 0.938em;
    text-align: right;
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    width: 100%;
    padding-bottom: 32px;
  }
  .left-content {
    font-size: 1em;
    width: 357px;
  }
  .incident {
    font-size: 2em;
    text-align: left;
  }
  .right-content {
    font-size: 0.813em;
    text-align: left;
  }
}
