<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="footer">
      <div class="row">

        <div class="col-sm-6">

        <div class="left_content poppins" >
          <ul>
           <b>    <li *ngIf="!isHome()"><a href="/" class="iwhite-text">HOME</a></li>
               <li><a href="events" class="iwhite-text">EVENTS</a></li>
               <li><a href="#!" class="iwhite-text">SPONSORS</a></li>
               <li><a href="icare" class="iwhite-text">iCARE</a></li>
               <li><a href="about" class="iwhite-text">ABOUT</a></li>
               <li><a href="#!" class="iwhite-text">CONTACT US</a></li>
           </b>
          </ul>  
        </div>

        </div>

        <div class="col-sm-6">
          
          <b>
      <div class="incident poppins">   INCIDENT<br>
          <div style="font-size:18px">NITK SURATHKAL - MARCH 2019<br>
           NH 66, Srinivas Nagar,<br> 
           Surathkal,<br>
          Mangaluru,<br> 
            Karnataka 575025
          </div>   
      </div>
          </b>

        </div>

      </div>
      </div>
</body>
</html>


