.footer {
    width: 100%;
    }
.left-content{
    font-size: 1.5em;
    width: 22.313em;
}
.incident{
    font-size: 3.750em;
    text-align: right;
}
.right-content{
    font-size: 1.125em;
    text-align: right;
            }

@media only screen and (max-width: 1400px){
    .footer {
        width: 100%;
            }
    .left-content{
        font-size: 1.25em;
     }
    .incident{
        font-size: 2.5em;
        text-align: right;
    }
    .right-content{
        font-size: .938em;;
        text-align: right;
    }
}


@media only screen and (max-width: 700px){
    .footer {
        width: 100%;
            }
    .left-content{
        font-size: 1em;
        width: 357px;
                }
    .incident{
        font-size: 2em;
        text-align: left;
    }
    .right-content{
        font-size: .813em;
        text-align: left;
    }

}