
<div class="landing-container">
  <div class="row">
    <div class="col s12 m6">
      <div class="landing-logo poppins iblack-text">
        <span class="landing-inci">INCIDENT</span>
        <span class="landing-nitk">NITK SURATHKAL - MARCH 2019</span>
      </div>

      <div class="landing-desc poppins iblack-text">
        A product of amalgamation of different cultures and backgrounds and their interactions thereof, Incident is the annual
        cultural fest of NITK,Surathkal.
        Incident strives to provide the participants with a exhilarating weekend compassed of unforgettable moments and
        wonderful experiences.
      </div>
    </div>
    
    <div class="col s12 m6">
      <a href="https://youtu.be/cet_oPDryQY" target="_blank"><img class="landing-img" src="assets/images/inci_night.jpg"/></a>
    </div>
  </div>
</div>

<div class="landing-triangle"></div>

