.landing-container {
    display: table-cell;
    height: 70vh;
    width: 100%;
    padding: 0 176px 0 176px;
    vertical-align: middle;
    
}

.landing-logo .landing-inci {
    font-size: 8em;
    font-weight: 700;
    display: table-cell;
    line-height: 1em;
    padding: 0 8px 0 8px;
}

.landing-logo .landing-nitk {
    display: inline-block;
    position: relative;
    font-size: 2em;
    font-weight: 700;
    padding: 0 8px 0 8px;
}

.landing-vid {
    min-height: calc( 0.5625 * (100vw - 2*176px) / 2 );
}

.landing-vid iframe {
    width: 100%;
    min-height: calc( 0.5625 * (100vw - 2*176px) / 2 );
}

.landing-desc {
    font-size: 1.6em;
    font-weight: 700;
    padding: 0 32px 0 8px;
}

.landing-triangle {
    display: block;
    margin-top:-100px;
    border-style: solid;
    border-width: 0 0 300px 100vw;
    border-color: transparent transparent #002D54 transparent;
    z-index: -1;
}

.landing-backdrop {
    position: absolute;
    top: 10%;
    right: 8%;
    height: 60%;
}


@media only screen and (max-width: 1400px) {

.landing-container {
    padding: 0 152px 0 152px;
}

.landing-logo {
    left: 152px;
}

.landing-logo .landing-inci {
    font-size: 6em;
    padding: 0 16px0 16px;
}

.landing-logo .landing-nitk {
    font-size: 1.6em;
    padding: 0 16px0 16px;
}

.landing-desc {
    font-size: 1.2em;
    right: 152px;
    bottom: 16%;
    padding: 0 24px 0 8px;
}

.landing-triangle {
    border-width: 0 0 200px 100vw;
}

.landing-vid {
    min-height: calc( 0.5625 * (100vw - 2*176px) / 2 );
}

.landing-vid iframe {
    width: 100%;
    min-height: calc( 0.5625 * (100vw - 2*176px) / 2 );
}

}

@media only screen and (max-width: 800px) {

.landing-container {
    display: block;
    padding: 0 16px 0 16px;
    height: auto;
}

.landing-logo {
    position: static;
    padding: 16% 0 16% 0;
}

.landing-logo .landing-inci {
    font-size: 4em;
}

.landing-logo .landing-nitk {
    font-size: 1.2em;
}

.landing-vid {
    width: 100vw;
    margin-top: 16px;
    margin-left: -16px;
    margin-bottom: -8px;
}

.landing-play {
    display: none;
}

.landing-desc {
    position: static;
    width: 100%;
}

.landing-triangle {
    display: none;
}

.landing-backdrop {
    display: none;
}

.landing-vid {
    min-height: 56.25vw;
    width: 100vw;
    margin-top: 16px !important;
    margin-left: -16px !important;
    margin-bottom: -8px !important;
    padding: 0 !important;
}

.landing-vid iframe {
    width: 100vw;
    min-height: 56.25vw;
}


}