
<div class="landing-container">
  <div class="row">
    <div class="col s12 m6">
      <div class="landing-logo poppins iblack-text">
        <span class="landing-inci">INCIDENT</span>
        <span class="landing-nitk">NITK SURATHKAL - MARCH 2019</span>
      </div>

      <div class="landing-desc poppins iblack-text">
        Incident is the annual cultural festival of the National Institute of Technology Karnataka, Surathkal. From its humble
        beginnings in the 1980s with a budget of just 10000₹, Incident has grown into the second largest cultural festival in
        South India, attracting a footfall of over 40,000 from 200 college across the country. Incident's prestigious stage has
        seen some of India’s greatest talents and has also been a launchpad for new upcoming artists. Boasting a plethora of
        high quality events spanning across multiple days, this is a celebration you would not want to miss.
      </div>
    </div>
    
    <div class="col s12 m6">
      <a href="https://youtu.be/cet_oPDryQY" target="_blank"><img class="landing-img" src="assets/images/inci_night.jpg"/></a>
    </div>
  </div>
</div>

<div class="landing-triangle"></div>

