<img class="landing-backdrop" src="assets/images/inci_logo_yellow_alpha.png" />

<div class="landing-triangle"></div>

<div class="landing-logo poppins iblack-text">
  <span class="landing-inci iblue">INCIDENT</span>
  <span class="landing-nitk iblue">NITK SURATHKAL - MARCH 2019</span>
</div>

<a href="#!" target="_blank"><img class="landing-img" src="assets/images/inci_night.jpg"/></a>

<div class="landing-desc poppins iblack-text iblue">
  Lorem ipsum dolor sit amet, ius reque constituam adversarium in, pro et illum adipisci oportere. An eos denique
  consequuntur. Eum ei saepe alienum propriae, audire delicata voluptaria at pri. In ridens antiopam sea.
</div>
