<div class="back-circle iblue"></div>

<div class="page-title poppins iblack-text">i-Care</div>

<div class="mcontainer icare">
  <div class="row valign-wrapper">
    <div class="col s12 m8 l8 valign icare-desc poppins iblack-text">
      A lot of children belonging to the fishing community in Mangalore drop out of school to help their parents in their
      daily chores.<br/>
      Beach school tries to reduce this student drop out by instilling in them, an interest towards practical science,
      mathematics & astronomy.<br/>
    </div>
    <div class="col s12 m4 l4 valign icare-desc-image">
      <img src="assets/images/icare/icare_intro.jpg"/>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s12 m4 l4 valign icare-desc-image">
      <img src="assets/images/icare/school.jpg"/>
    </div>
    <div class="col s12 m8 l8 valign icare-desc poppins iblack-text">
      Volunteers for i-Care teach extra curricular activities like origami, dance to differently-abled children in Lion's School,
      Surathkal.<br />
      We plan to have many more such uplifting i-Care activities in the future.
    </div>
  </div>
</div>

<div class="mcontainer">
  <br/>
  <h3 class="poppins iblack-text" style="font-weight: 700;">Beach Schooling</h3>
</div>

<img class="icare-backdrop" src="assets/images/icare/beach_schooling.jpg"/>

<div class="mcontainer icare">
  <div class="row">
    <div class="col s12 icare-desc poppins iblack-text">
      14 solar lamps were distributed to children of the beach school and 5 solar lamps to the children from NITK Kannada
      Medium School to light up their homes on Children's Day.
      <br/>
      <br/>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s12 m4 l4 valign icare-desc-image">
      <img src="assets/images/icare/icare_distribution.jpg" />
    </div>
    <div class="col s12 m8 l8 valign icare-desc poppins iblack-text">
      35 additional solar lamps to tenth standard students of NITK Kannada Medium School to facilitate their preparations for
      board examinations.
    </div>
  </div>
  <br />
  <br />
  <div class="mcontainer center-align">
    <!-- <a href="#!icare-site" class="mbtn poppins">KNOW MORE - VISIT i-CARE WEBSITE</a> -->
  </div>
  <br />
  <br />
  <br />
</div>
