.about-desc {
    font-weight: 700;
    font-size: 1.6em;
}

.history-item {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    overflow: hidden;
    display: flex;
}

.history-item .history-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.history-item .history-image img {
    display: none;
}

.history-content {
    height: 100%;
    padding: 20px !important;
    overflow-y: auto;
}

.history-title {
    font-size: 3em;
    font-weight: 700;
}

.history-desc {
    font-size: 1.4em;
    opacity: 0.7;
}

@media only screen and (max-width: 1400px) {
    
    .history-desc {
        font-size: 1em;
    }

}

@media only screen and (max-width: 800px) {

.about-desc {
    max-width: 100%;
}

.history-item {
    display: block;
}

.history-item .history-image img {
    display: block;
    width: 100%;
}

}