<div class="about-slider carousel carousel-slider">
  <div class="carousel-fixed-item">
    <div class="page-title poppins iwhite-text bold">ABOUT US</div>
  </div>
  <div *ngFor="let item of aboutDesc">
    <a class="carousel-item" [style.backgroundImage]="'url(' + item.image + ')'" [href]="item.href">
      <div class="mcontainer iwhite-text poppins bold" [innerHTML]="item.desc"></div>
    </a>
  </div>
</div>

<div class="mcontainer">
  <br /><br /><br />
  <div class="history-item" *ngFor="let item of history">
    <div class="row">
      <div class="history-image" [style.backgroundImage]="'url(' + item.image + ')'">
        <img src="{{ item.image }}"/>
        <div class="history-title poppins iwhite-text">{{ item.year }}</div>
      </div>
    </div>
    <div class="row">
      <div class="history-content">
        <div class="history-desc" [innerHTML]="item.desc"></div>
      </div>
    </div>
  </div>
</div>