<div class="back-circle iblue"></div>

<div class="page-title poppins iblack-text">ABOUT</div>

<div class="mcontainer">
  <div class="about-desc poppins iblack-text" [innerHTML]="aboutDesc">
  </div>

  <div class="history-item" *ngFor="let item of history">
    <div class="row">
      <div class="history-image" [style.backgroundImage]="'url(' + item.image + ')'">
        <img src="{{ item.image }}"/>
        <div class="history-title poppins iwhite-text">{{ item.year }}</div>
      </div>
    </div>
    <div class="row">
      <div class="history-content">
        <div class="history-desc" [innerHTML]="item.desc"></div>
      </div>
    </div>
  </div>
</div>