<div *ngIf="isDevMode()">

  <div class="back-circle iblue"></div>

  <div class="page-title poppins iblack-text">EVENTS</div>
  <a href="javascript: () => { history.back(); }" class="back-link poppins iblack-text">
    &lt; Back to Events
  </a>

  <!-- <div class="events-listing row">
    <div class="col s12 m4" *ngFor="let item of list">
      <a *ngIf="listIsCategory()" href="events#{{ item.hash }}" class="poppins iblack-text iwhite">
        <div class="icon" [innerHTML]="item.icon"></div>
        <div class="title">{{ item.name }}</div>
      </a>
      <a *ngIf="!listIsCategory()" 
        [attr.data-target]="item.hash" class="modal-trigger poppins iblack-text iwhite">
        <div class="icon" [innerHTML]="item.icon"></div>
        <div class="title">{{ item.name }}</div>
      </a>
    </div>
  </div> -->

  <div class="category-list events-listing row active">
    <div class="col s12 m4" *ngFor="let item of categories">
      <a href="events#{{ item.hash }}" class="poppins iblack-text iwhite">
        <div class="icon" [innerHTML]="item.icon"></div>
        <div class="title">{{ item.name }}</div>
      </a>
    </div>
  </div>

  <div *ngFor="let key of eventKeys">
    <div class="{{ key }}-list events-listing row">
      <div class="col s12 m4" *ngFor="let item of events[key]">
        <a [attr.data-target]="item.hash" class="modal-trigger poppins iblack-text iwhite">
          <div class="icon" [innerHTML]="item.icon"></div>
          <div class="title">{{ item.name }}</div>
        </a>
      </div>
    </div>
  </div>

  <div *ngFor="let key of eventKeys">
    <div *ngFor="let item of events[key]">
      <div id="{{item.hash}}" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>{{ item.name }}</h4>
          <p>{{ item.desc }}</p>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br />

</div>

<div *ngIf="!isDevMode()" class="events-stay-tuned mcontainer poppins iblack-text">
  <div>
    <h2>Coming Soon. Stay tuned...</h2>
    <br /><br />
    <a href="/" class="mbtn poppins iblack-text bold">RETURN TO HOME</a>
  </div>
</div>