.back-link {
    opacity: 0;
    margin: 0 0 0 176px;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: underline;
    transition: opacity 300ms ease-out;
}

.events-listing {
    margin: 4% 176px 0 176px !important;
    width: calc(100% - 352px);
    transition: opacity 300ms ease-out;
}

.events-listing .col {
    padding: 10px !important;
}

.events-listing a {
    display: flex;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 20px !important;
    border-radius: 16px;
    flex-direction: column;
    cursor: pointer;
}

.events-listing a .icon {
    position: relative;
    display: table-cell;
    height: 100%;
}

.events-listing a .icon *, .events-listing a .icon img {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.events-listing a .icon i {
    font-size: 6em;
}

.events-listing a .title {
    font-size: 2.4em;
    font-weight: 700;
    padding: 16px;
}

.events-listing a:hover {
    background-color: rgb(0, 45, 84, 0.3)
}

@media only screen and (max-width: 1400px) {

.events-listing {
    margin: 6% 152px 0 152px !important;
    width: calc(100% - 304px);
}

.back-link {
    margin: 16px 0 0 152px;
    font-size: 1.2em;
}

}

@media only screen and (max-width: 800px) {

.events-listing {
    margin: 16px !important;
    width: calc(100% - 32px);
}

.events-listing .col {
    padding: 0 !important;
}

.back-link {
    margin: 16px;
}

}