<div class="back-circle iblue"></div>

<div class="page-title poppins iblack-text">CONTACT US</div>

<br /><br /><br />
<div class="contact-us mcontainer iwhite center-align">
  <form action="https://formspree.io/incidentconvenor@nitk.edu.in" method="POST">
    <div class="row left-align">
      <h4 class="iblack-text poppins bold">We would be happy to talk to you...</h4>
    </div>
    <br />
    <div class="input-field">
      <input placeholder="" id="name" name="name" type="text" class="validate">
      <label for="name">Full Name</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="_replyto" name="_replyto" type="email" class="validate">
      <label for="_replyto">Email</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="mobile" name="mobile" type="number">
      <label for="mobile">Phone Number (Optional)</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="purpose" name="purpose" type="text" class="validate">
      <label for="purpose">Purpose</label>
    </div>
    <div class="input-field">
      <!-- <input placeholder="" id="content" name="content" type="text" class="validate"> -->
      <!-- <label for="content">What would you like to say?</label> -->
      <textarea placeholder="" id="content" name="content" class="materialize-textarea"></textarea>
      <label for="content">What would you like to say?</label>
    </div>
    <div class="row center-align">
      <input class="mbtn poppins" type="submit" value="Send">
    </div>
  </form>
</div>
<br /><br /><br />
