.testimonials {
    margin-top: 100vh;
    width: 100%;
    height: 620px;
    padding: 120px 0 120px 0;
}

.testimonials .testimonials-container {
    width: 60%;
    margin: 0 20% 0 20%;
    list-style-type:none;
    white-space:nowrap;
    overflow: hidden;
}

.testimonials .testimonials-container ul {
    transition: all 300ms ease-out;
}

.testimonial .block {
    display: inline;
}

.testimonial {
    display: inline;
    box-sizing: border-box;
    width: 100%;
}

.testimonial .image {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding-left: 4px;
}

.testimonial .content {
    display: inline-block;
    width: 70%;
    white-space: normal;
    padding: 0 4px 0 50px;
}

.testimonial .content .text {
    font-size: 3em;
    font-weight: 700;
    width: 100%;
}

.testimonial .content .author {
    width: 100%;
    text-align: right;
    font-size: 2em;
    font-style: italic;
}

.testimonial .image img {
    width: 100%;
}

.qoute-char {
    position: absolute;
    margin-left: 36%;
    transform: rotate(180deg);
    z-index: 100;
    transition: all 300ms ease-out;
}

.qoute-char i {
    font-size: 6em;
    transition: all 300ms ease-out;
}

@media only screen and (max-width: 1400px) {

.testimonials {
    height: 420px;
    padding: 80px 0 80px 0;
}

.testimonial .content {
    padding: 0 4px 0 36px;
}

.testimonial .content .text {
    font-size: 2em;
}

.testimonial .content .author {
    font-size: 1.2em;
}

.qoute-char i {
    font-size: 4em;
}

}

@media only screen and (max-width: 800px) {

.testimonials {
    margin-top: 0;
    height: auto;
}

.testimonials-container {
    box-sizing: border-box;
    width: calc(100% - 32px) !important;
    margin: 16px !important;
}

.testimonial {
    display: inline-block;
}

.testimonial .block .image {
    width: 100%;
    text-align: center;
    display: block;
}

.testimonial .block .image img {
    width: 50%;
}

.testimonial .content {
    width: 100%;
    text-align: left;
    padding: 0;
}

.qoute-char {
    margin-left: 21%;
}

}