<div class="testimonials iblue">
  <span class="qoute-char">
    <i id="qoute-char" class="material-icons iwhite-text">format_quote</i>
  </span>
  <div class="testimonials-container">
    <ul>
      <li class="testimonial" *ngFor="let testimonial of testimonials">
        <div class="block">
          <div class="image">
            <img src="{{testimonial.image}}"/>
          </div>
          <div class="content">
            <div class="text poppins iwhite-text" [innerHTML]="testimonial.text"></div>
            <div class="author iwhite-text">- {{testimonial.author}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
