@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

body {
    font-size: 1em;
    background-color: #F8F8FF;
    width: 100vw;
    overflow-x: hidden;
    padding-top: 140px;
}

.iwhite {
    background-color: #F8F8FF;
}

.iwhite-text {
    color: #F8F8FF;
}

.iblue {
    background-color: #002D54;
}

.iblue-text {
    color: #002D54;
}

.iblack {
    background-color: #201D32;
}

.iblack-text {
    color: #201D32;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.mcontainer {
    margin-left: 176px;
    margin-right: 176px;
    width: calc(100% - 352px);
}

.row, .col {
    margin: 0 !important;
    padding: 0 !important;
}

.mbtn {
    background: transparent;
    border: 1px solid #002D54;
    padding: 16px 32px 16px 32px;
    font-size: 1em;
    font-weight: 700;
    color: #002D54;
    border-radius: 32px;
    cursor: pointer;
}

.mbtn:hover {
    background: #002D54;
    color: white;
}

.back-circle {
    position: absolute;
    top: -600px;
    left: -500px;
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    z-index: -1;
    opacity: 0.3;
}

.page-title {
    margin: 4% 0 16px 160px;
    font-size: 8em;
    font-weight: 700;
    line-height: 1em;
}

/* Hack - Angular doesn't support styling for dynamically added html */
.events-listing a .icon *, .events-listing a .icon img {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.events-listing a .icon i {
    font-size: 6em;
}

/* Mac Pro 13in */
@media only screen and (min-width: 1400px) and (min-resolution: 96dpi) {
    body, html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1400px) {

body {
    font-size: 14px;
    /* margin-top: 80px !important; */
    padding-top: 95px;
}

.mcontainer {
    margin-left: 152px;
    margin-right: 152px;
    width: calc(100% - 304px);
}

.back-circle {
    top: -400px;
    left: -250px;
    height: 700px;
    width: 700px;
}

.page-title {
    margin: 4% 152px 0 145px;
    font-size: 5em;
}

}

@media only screen and (max-width: 800px) {

body {
    padding-top:75px;
}

.mcontainer {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
}

.back-circle {
    top: -90vw;
    left: -70vw;
    height: 150vw;
    width: 150vw;
}

.page-title {
    margin: 25vw 16px 16px 12px;
    font-size: 4em;
}

}